# Logs
logs/
!logs/.gitkeep

# Uploads
uploads/
!uploads/.gitkeep

# Dependencies
node_modules/

# Build output
dist/

# Ignore environment files
.env

# Allow static HTML views for UI
!src/ui/views/
!src/ui/views/*.html